{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<title>Drive Casa do Lago</title>


	<style type="text/css">
		h1, h2{
			text-align: center;
		}
		.image{
			margin: 10px;
		}
		.text{
			margin-top: 10px;
		}
		.files{
			height: 50px;
			display: flex;
			width: 300px;
			margin: auto;
		}
		.bi{
			margin: 15px auto auto 30px;
		}
		.picker{
			margin: 50px auto auto auto;
			text-align: center;
		}
		.upload{
			margin: 50px auto auto auto;
			text-align: center;
		}

	</style>
</head>

<body>
	<h1>Drive da Casa do Lago</h1>

	<a href="/">Home</a>

	<!-- map dirs -->

	<h2>Location: {{current}}</h2>

	{% for dir in dirs %}
	<div class="files">
		<img src="{% static 'pasta.png' %}" class="image" width="25px" alt="folder">
			<a href="/?dir={{current}}/{{dir}}">
				<p class="text">{{dir}}</p>
			</a>

			<a href="/download?filepath={{current}}/{{dir}}">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
					  <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
					  <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
				</svg>
			</a>
	</div>
	{% endfor %}

	<!-- map files -->

	{% for file in files %}
	<div class="files">
		<p class="text">{{file}}</p>	

		<a href="/download?filepath={{current}}/{{file}}">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download" viewBox="0 0 16 16">
				  <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
				  <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
			</svg>
		</a>
	</div>
	{% endfor %}


  <div class="picker"><label>Upload File ->  </label><input type="file" id="picker" class="hidden"></div>

  <div class="picker"><label>Upload Folder ->  </label><input type="file" id="pickerfolder" webkitdirectory multiple></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="{% static 'main.js' %}"></script>
</body>
</html>